.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    margin-left: 30px;
    height: 50%;
    /* box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.1); Adjust the values as needed */
}


.iconTextContainer {
    display: flex;
    background: none;
    border: none;
    align-items: center;
    padding: 20px 20px;
    height: auto;
    width: 200px;
    transition: transform 0.3s ease; /* Add a transition for the transform property */
}

.iconTextContainer:hover {
    transform: scale(1.1); /* Enlarge the button on hover */
}

.sidebarIcon {
    color: #5e32b6;
    height: 2rem;
    width: 2rem;
    margin-right: 10px;
}

.textIcon {
    color: #5e32b6;
    font-weight: bolder;
    text-transform: uppercase;
}


